$closed-description-height: 200px;
.event-description{
  position: relative;
  margin-bottom: 2em;
  > p {
    @include media(max-width $medium-screen) {
      padding-bottom: 1em;
      @include transition(all $base-duration $base-timing);
    }
  }
}

.event-description--expanded {
  > p {
    @include media(max-width $medium-screen) {
      max-height: 3000px
    }
  }
}

.event-description--closed {
  > p {
    @include media(max-width $medium-screen) {
      height: auto;
      max-height: $closed-description-height;
    }
  }
}

.event-description__show-all {
  @include media(max-width $medium-screen) {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    @include linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,1));
  }
}
