.main-header {
  min-height: $navigation-height;
  line-height: $navigation-height;
  @include media(max-width $medium-screen) {
    background-color: $nav-background-color;
    color: $white;
    @include clearfix;
  }
}

.main-header__menu {
  @include span-columns(2);
  text-align: center;
  line-height: $navigation-height;
  cursor: pointer;

  @include media($medium-screen) {
    display: none;
  }
  i {
    font-size: $f-large;
  }
  i:hover {
    background: darken($nav-background-color, 5%);
  }
  i:active {
    background: darken($nav-background-color, 15%);
  }
}

.main-header__title {
  text-align: center;
  line-height: $navigation-height;
  @include span-columns(8);

  @include media($medium-screen) {
    @include span-columns(12);
    background-color: darken($secondary-background-color, 5%);
    text-transform: uppercase;
    h1 {
      font-family: "Roboto",Arial,Sans-Serif;
      font-weight: normal;
      font-size: $f-xLarge;
    }
  }

  h1 {
    display: inline-block;
    text-transform: capitalize;
  }
}
