$closed-list-height: 145px;
.schedule-list {
  overflow: hidden;
  position: relative;
  @include transition(all $base-duration $base-timing);
}

.schedule-list--expanded {
  max-height: 3000px;
}

.schedule-list--closed {
  height: auto;
  max-height: $closed-list-height;
  padding-bottom: 1em;
}

.schedule-list__header {
  font-weight: bold;
  cursor: pointer;
}

.schedule-list__show-all {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: $secondary-background-color;
}
