# client
/client/.sass-cache
/client/bower_components
/client/connect.lock
/client/coverage/*
/client/dist
/client/libpeerconnection.log
/client/node_modules
/client/npm-debug.log
/client/testem.log
/client/tmp

# server
/server/.bundle
/server/log/*
!/server/log/.keep
/server/tmp
