<section class="ApplicationError">
  <h2 class="ApplicationError__title">Well, that was balls&hellip;</h2>
  <p class="ApplicationError__text">The server has encountered an internal error.</p>
  <button {{action 'resumeSavedTransition'}}>Refresh</button>
</section>
