$padding-size: 0.5em;
$info-padding: 2em $padding-size $padding-size;

.featured-event-card {
  background: $grid-item-background;
  cursor: pointer;
  overflow: hidden;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  display: inline-block;
  position: relative;
  height: $featured-event-card-height;
  @include span-columns(12);
  @include media($medium-screen) {
    float: left;
    width: 50%;
    margin: 0;
  }
}

.featured-event-card__poster {
  min-width: 100%;
  min-height: 100%;
}

.featured-event-card__info {
  width: 100%;
  padding: $info-padding;
  color: $white;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  @include linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.8));
}

.featured-event-card__info--left {
  @include span-columns(10);
}
.featured-event-card__info--right {
  position: absolute;
  bottom: $padding-size;
  right: $padding-size;
  font-size: $f-large;
}

.featured-event-card__header {
  font-size: $f-large;
  margin: 0;
}

.featured-event-card__info-item {
  font-size: $f-small;
}

.featured-event-card__info-item--right {
  text-align: right;
}
