<div class="footer-logo">
  {{#link-to 'cities' class="logo"}}
    <img src="/assets/img/logo.png" alt="Logo Image">
  {{/link-to}}
</div>
<ul>
  <li>{{link-to 'About' 'about'}}</li>
  <li>{{link-to 'Contact' 'contact'}}</li>
</ul>

<div class="footer-secondary-links">
  {{!-- <ul>
    <li><a href="javascript:void(0)">Terms and Conditions</a></li>
    <li><a href="javascript:void(0)">Privacy Policy</a></li>
  </ul> --}}

  {{!-- <ul class="footer-social">
    <li><a href="javascript:void(0)">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
    </a></li>
    <li><a href="javascript:void(0)">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
    </a></li>
    <li><a href="javascript:void(0)">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
    </a></li>
  </ul> --}}
</div>
