{{#if featuredEvents}}
  <div class="featured-events-container">
    {{#each featuredEvents as |featured|}}
    {{featured-event-card city=model event=featured}}
    {{/each}}
  </div>
{{/if}}
<section>
  <div class="flexbox-row">
    {{button-group dateRangeChanged='filterByDate' date_range=date_range}}
    <div>
      <span class="checkbox-label">Free</span>
      <label class="label-switch">
        {{input type="checkbox" checked=free }}
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
</section>
{{outlet}}
