{{#if featuredEvents}}
  <div class="featured-events-container">
    {{#each featuredEvents as |featured|}}
    {{featured-event-card city=model event=featured}}
    {{/each}}
  </div>
{{/if}}
<section class="color-section full-width">
  {{button-group dateRangeChanged='filterByDate' date_range=date_range}}
  <div class="grid-items outer-container">
    <span class="checkbox-label"><b>Free</b></span>
    <label class="label-switch pull-right">
      {{input type="checkbox" checked=free }}
      <div class="checkbox"></div>
    </label>
  </div>
</section>
{{outlet}}
