<div class="MainMenu">
  <div class="MainMenu__items">

    <div class="MainMenu__logo">
      <span>Best Day</span>
    </div>

    <div class="MainMenu__item">
      {{link-to 'events' 'events'}}
    </div>

    <div class="MainMenu__item">
      {{!-- {{link-to 'Add New Day' 'days.new'}} --}}
    </div>

  </div>
</div>
