<section>
  Version 2: For example, I have a list of 20 events and I want to display 4-6 initially and have Load More button to show more if needed. I have data in store, so API request is not necessary. Currently I basically hide portion of the UI with css and then show again, however this means that browser spends time rendering it, while user may never click to view it. Another case is when you do need an API request to say load more events. Here I'm interested in how do I add new batch to existing model, not replace the old model.
</section>
