<div class="hero-inner">
	<div class="hero-copy">
		<h1>Event Coyotes</h1>
		<p>Find events in San Francisco</p>
		{{#each cities as |city|}}
	    {{link-to city.name 'city' city.slug}}
	  {{/each}}
	</div>
</div>
