<section>
  <h3>Events sites suck!</h3>
  <p>
    At Event Coyote we are working to bring you the best events in San Francisco. It's a big
    task, but we'are working hard to get there. We appreciate all of the positive feedback we receive.
  </p>
  <p>
    See you out this weekend.
  </p>
</section>
