//Screens
$medium-screen: em(640) !default;
$large-screen: em(860) !default;

// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$half-base-font-size: 0.5em;

// Font Sizes
$f-xxSmall: 0.625em; /* 10/16 */
$f-xSmall: 0.75em; /* 12/16 */
$f-small: 0.875em; /* 14/16 */
$f-medium: 1em;
$f-large: 1.125em; /* 18/16 */
$f-xLarge: 1.375em; /* 22/16 */
$f-xxLarge: 1.5em; /* 24/16 */

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
$navigation-height: 3em;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$footer-height: 80px;

// Colors
$white: #fff;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$dark-brown: #704100;
$medium-brown: #bf8725;
$light-brown: #f2dfbd;
$lightest-brown: #fcfaf6;

// Font Colors
$nav-font-color: #fff;
$nav-font-active-color: #FFCA02;
$base-font-color: $dark-gray;
$action-color: #1773f1;
$action-hover-color: #1773f1;
$footer-font-color: #fff;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$body-background-color: #edf4fb;
$base-background-color: #fff;
$nav-background-color: #1773f1;
$secondary-background-color: darken($body-background-color, 5%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

//Buttons
$button-background-color: lighten(#1773f1, 10%);


// Z-index
$z-index-modal-content: 300;
$z-index-modal-cover: 290;
$z-index-alert-bar: 285;
$z-index-main-menu: 280;
$z-index-main-header-fixed: 270;
