<div class="Canvas Grid Grid--full Grid--max-width">
  <div class="Canvas__menu">
    {{main-menu}}
  </div>
  <div class="Grid__item Canvas__content">
    {{outlet}}
  </div>
  <div class="Grid__item Canvas__footer">
    {{main-footer}}
  </div>
</div>
